.图片轮播 {
    width: 84%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    margin: 0 auto;
}   
.展示图片区域 {
    height: 700px;
    width: 900px;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.展示图片 > img {
    width: 70%;
    height: 70%;
    object-fit: cover;
    border: 10px solid aquamarine;
    border-radius: 20px;
}

